
a:hover, a:active, a:focus{
    text-decoration: none;
}

.link-color-white a:link {
  color: white;
  }

 .link-color-white a:visited {
    color: white;
    }

.link-color-white a:hover, a:active, a:focus {
  color: black;
  text-decoration: none;
}

.link-color-purple a:link {
  color: rgb(140, 0, 255);
  }

 .link-color-purple a:visited {
    color: rgb(140, 0, 255);
    }

.link-color-purple a:hover, a:active, a:focus {
  color: rgb(140, 0, 255);
}
/******************header */

.sfd-logo{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 3px;
    padding-top: 2px;
  /**  position: absolute;**/

}

.header-background{
    max-height: 200px;
    overflow: hidden;    
}

.header-title{
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
}

.header-sub-title{
    text-align: center;
    color: #dad5d5;
}

.container-control{
    margin: 0;
}

/**************************can be sorted later
.head-links{
    position: fixed;
}
*/
.home-btn{
    background-color: rgb(103,121,17);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.wed-btn{
    background-color: blue;
    padding-top: 25px;
    padding-bottom: 25px;    
    text-align: center;
    color: white;
}

.utd-btn{
    background-color: red;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.ticket-btn{
    background-color:rgb(255, 165, 0);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.prev-m-btn{
    background-color: brown;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.charity-btn{
    background-color: rgb(140, 0, 255);
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.btn-border{
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

/************************************************************Home Section*/

.home-section {
    background-color: rgb(103,121,17);
    padding: 10px;
}

.md-context{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    margin-bottom: 10px;
}

.represent-home-section{
    background-color: white;
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

.btn-outline-primary{
    background-color: #6EBFFF;
    color: black;
    text-decoration: none;
}

.btn-outline-danger{
    background-color: #FF6E6E;
    color: black;
}

/******
.represent-home-section a:visited {
  color: green;
}
.represent-home-section a:hover, a:active, a:focus {
  color: red;
}
****/
.on-home-sign-up{
    padding-bottom: 5px;
}

.team-logos{
    padding-bottom: 10px;
}

.home-section-sufc, img{
    max-height: 378px;
    max-width: 378px;
}



.ticket-home-section{
    background-color: rgb(255, 165, 0);
    text-align: center;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-left-style: groove;
}

.crowd-home-section{
    padding-top : 60px;
    padding-bottom: 20px;
    max-width: 250px;
    max-height: auto;
}

.ticket-home-selection-full{
    padding-top: 20px;
    background-color: rgb(255, 165, 0);
    text-align: center;
    margin-top: 10px;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
}

.crowd-home-section-full{
    padding-bottom: 20px;
    max-width: 400px;
    max-height: auto;
}

.team-logos{
    position: center;
}

.charity-information{
    background-color: white;
    margin-top: 10px;
    border: 2px;
    border-color: rgb(49, 49, 49);
    border-style: groove;
    text-align: center;
}

.charity-information a:visited {
  color: #000000;
}
.charity-information a:hover, a:active, a:focus {
  color: #000000;
}
.home-charity-title{
    margin: 20px 20px;
}

.shc-background{
   background-color: rgb(140, 0, 255); 
}

.shc-logo-home{
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: rgb(140, 0, 255);
}

/**********************************************************Wednesday fans Page*/
.wednesday-section {
    background-color: blue;
    padding: 10px;
}

.wed-info-section{
    background-color: white;
    text-align: center;
}

.wed-signup-form{
    background-color: white;
}

.wed-fans-trophy{
    max-width: 500px;
    max-height: relative;
}

.fans-btn{
    text-align: right;
}

/******************************************************************United fans page*/

.united-section{
    background-color: red;
    padding: 10px;
}


.utd-info-section{
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

.utd-signup-form{
    background-color: white;
}

.utd-fans-trophy{
    padding-bottom: 20px;
    position: center;
}

/******************************************************************Tickets page*/

.ticket-page-section{
    
    background-color: rgb(255, 165, 0);
    padding: 10px;
}

.ticket-title{
    background-color: white;
    text-align: center;
}

.ticket-form{
    background-color: white;
    text-align: center;
}

/********************************************************************Match history page */

.match-history-section{
    background-color: brown;
    padding: 10px;
}

.match-history-content{
    background-color: white;
    text-align: center;
}


/*****************************************************************Charity Page*/

.charity-section{
    background-color: rgb(140, 0, 255);
    padding: 10px;
}

.charity-section-content{
    background-color: white;
    text-align: center;
}

/*************************************************************Footer*/

footer{
    background-color: rgb(88, 88, 88);
    color: white;
}

@media (max-width: 576px){
   .crowd-home-section-full, img, .home-section-sufc, img{
       max-width: 200px;
   }
}

@media (max-width: 576px){
    
    .head-links{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .shc-logo-home{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        position: center;
    }
    
}

@media (max-width: 1199px){
    .ticket-home-section{
        display: none;
    }
}